.App {
    text-align: center;
    height: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #64BBEB;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .calendar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }
  
  /* beginning of calendar custom styling */
  /* https://blog.logrocket.com/react-calendar-tutorial-build-customize-calendar/ */
  
  .react-calendar { 
   width: 400px;
   max-width: 100%;
   background-color: #fff;
   color: #222;
   border-radius: 8px;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.125em;
  }
  
  .react-calendar__navigation button {
   color: #64BBEB;
   min-width: 44px;
   background: none;
   font-size: 16px;
   margin-top: 8px;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
   background-color: #f8f8fa;
  }
  .react-calendar__navigation button[disabled] {
   background-color: #f0f0f0;
  }
  abbr[title] {
   text-decoration: none;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
   background: #f8f8fa;
   color: #64BBEB;
   border-radius: 6px;
  }
  .react-calendar__tile--now {
   background: #6f48eb33;
   border-radius: 6px;
   font-weight: bold;
   color: #64BBEB;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
   background: #6f48eb33;
   border-radius: 6px;
   font-weight: bold;
   color: #64BBEB;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
   background: #f8f8fa;
  }
  .react-calendar__tile--active {
   background: #64BBEB;
   border-radius: 6px;
   font-weight: bold;
   color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
   background: #64BBEB;
   color: white;
  }
  
  /* end of calendar custom styling */
  
  .App-link {
    color: #64BBEB;
  }
  
  .button {
    background-color: #64BBEB;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 5px rgb(29, 76, 105);
  }

  .image{
    position: left;
    text-align: left;
    width: 100%;
    height:30px;
    object-fit: contain;
  }
  
  .button:hover {background-color: #2e769d}
  
  .button:active {
    background-color: #2e769d;
    box-shadow: 0 5px rgb(29, 76, 105);
    transform: translateY(4px);
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }