
.login-button {
  background-color: #64BBEB;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 8px;
  box-shadow: 0 5px rgb(29, 76, 105);
}

.login-button:hover {background-color: #2e769d}

.login-button:active {
  background-color: #2e769d;
  box-shadow: 0 5px rgb(29, 76, 105);
  transform: translateY(4px);
}

div {
  line-height: 30px;
}

.textarea {
  padding: 10px 20px;
  border-radius: 8px;
}