.App {
    text-align: center;
    height: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #64BBEB;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.todo {
  text-align: center;
}

.todoStrike {
  text-decoration: line-through;
}

/* input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
} */

.button {
  background-color: #64BBEB;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 8px;
  box-shadow: 0 5px rgb(29, 76, 105);
}

.button:hover {background-color: #2e769d}

.button:active {
  background-color: #2e769d;
  box-shadow: 0 5px rgb(29, 76, 105);
  transform: translateY(4px);
}

div {
  line-height: 30px;
}

.textarea {
  padding: 10px 20px;
  border-radius: 8px;
}